<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>index</title>
<link rel = "Stylesheet" type="text/css" href = "../assets/css/customstyle.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
const patchtrip = function(tripid,rsp){
     console.log('entered script');
     console.log(tripid);
     //var trip = {tripi : tripid}
        $.ajax({
            url: 'http://64.225.28.35:3000/api/v1/savedConnections/',
            contentType: "application/json",
            dataType: 'json',
            type: "Patch",
            data: JSON.stringify({ "connection": tripid,"rsvp":rsp }),
            success: function(result){
        window.location.href = '/mytrips';
      }
    })
    }
    </script>
</head>
<body>
    <%- include ('partials/header.ejs') %>
    
    <div id="div" >
         <button onclick="patchtrip('<%= data.connection%>','yes')">YES</button>
                    <button onclick="patchtrip('<%= data.connection%>','no')">NO</button>
                    <button onclick="patchtrip('<%= data.connection%>','maybe')">MAYBE</button>

    </div>
    <%- include ('partials/footer.ejs') %>
 
		</body>
		</html>